<div class="container color_blue">
    <div class="cadastro_container">
        <form class="">
            <div class="row">
                <div class="col-6 mb-4">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-6 mb-4">
                    <input type="text" class="form-control" placeholder="Login">
                </div>
                <div class="col-4 mb-4">
                    <input type="password" class="form-control" placeholder="Senha">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder="Tema">
                </div>
                <div class="col-3 mb-4">
                    <input type="text" class="form-control" placeholder="Nome">
                </div>
                <div class="col-3 mb-4">
                    <input type="text" class="form-control" placeholder="Sobrenome">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-3 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-3 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-4 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-3 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-1 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>
                <div class="col-2 mb-4">
                    <input type="text" class="form-control" placeholder=".col-6">
                </div>


            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

</div>